# .vscode ignore
.vscode/

# macOS X 시스템이 finder로 폴더에 접근할 때 자동으로 생기는 파일 (Desktop Services Store)
.DS_Store
boj/.DS_Store
boj/cpp_boj/.DS_Store
boj/java_boj/.DS_Store
boj/python_boj/.DS_Store

# baekjoon ignore

## cpp_baekjoon
### out file
boj/cpp_boj/a.out

boj/cpp_boj/BRONZE/a.out
boj/cpp_boj/GOLD/a.out
boj/cpp_boj/SILVER/a.out

## java_baekjoon
### .idea
boj/java_boj/.idea/

### out file
boj/java_boj/out/

### java_baekjoon.iml
boj/java_boj/java_boj.iml

## python_baekjoon

# programmers ignore
programmers/코딩테스트 고득점 Kit/해시/a.out
programmers/코딩테스트 고득점 Kit/스택_큐/a.out

# swea ignore

## D1
### out file
swea/D1/a.out

## D2
### out file
swea/D2/a.out

## D3
### out file
swea/D3/a.out

## D4
### out file
swea/D4/a.out

swea/D4/1249.cpp

# softeer ignore

## LV1
### out file
softeer/LV1/a.out

## LV2
### out file
softeer/LV2/a.out

## LV3
### out file
softeer/LV3/a.out